:root {
    --cor-principal: #3c59e7;
    --cor-claro: #cdc5c5;
    --cor-escuro: #232323;
    --preenchimento-pq: .25rem 1rem;
    --preenchimento-md: 2rem;
    --preenchimento-lg: 4rem;
}

header {
    background-color: var(--cor-escuro);
    color: var(--cor-claro);
    padding: var(--preenchimento-pq);
}

section {
    background-color: var(--cor-claro);
    padding: var(--preenchimento-md);
}

div {
    --preenchimento-pq: 1rem;
    padding: var(--preenchimento-pq);
    background-color: var(--cor-principal);
    color: var(--cor-claro);
}

.red-box {
    --cor-principal: #f64348;
}