* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    text-decoration: underline;
    text-transform:uppercase;
    padding: 20px;
}

h1 {
    font-family: sans-serif;
    font-weight: 100;
}

h2 {
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

