* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.125rem;
    border-bottom: 1px solid #030308;
    
}

h1, h2 {
    font-family: "Lora", serif;
    font-weight: 400;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature, .catalog, .cta {
    font-size: 1.125rem;
    text-align: center;
    padding: 2rem;
    
}

.cta-button {
    border-radius: 9999px;
    background-color: #030308;
    color:#fff;
    display: block;
    margin: 2rem auto;
    padding: 1rem 1.5rem;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
}

.themes > li {
    display: inline-block;
    margin-top: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.themes > li + li {
    margin-left: 1rem;
    margin-top: 1rem;
}

.theme > a,
.see-more > a {
    text-decoration: none;
    background-color: #53a1be;
    color:#fff;
    display: inline-block;
    border-radius: 9999px;
    padding: 1rem 1.5rem;
}

.see-more > a {
    background-color: #030308;
    text-transform: uppercase;
}

footer {
    background-color: #030308;
    color: #fff;
    font-family: "Lora", serif;
    padding: 1rem;
    text-align: center;
}

.responsiva {
    display: block;
    height: auto;
    max-width: 100%;
}





