* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 32px;
    margin-bottom: 32px;
}

li {
    background-color: #333;
    color: #fff;
    border: 4px solid transparent;
    border-radius: 4px;
    margin-top: 32px;
    margin-left: 32px;
    padding: 32px;
    height: 250px;
    width: 390px;
    cursor: pointer;
    display: inline-block;
}

.selected {
    background-color: #4d4d4d;
    border: 4px solid #0088d8;

}

.hidden {
    display: none;
}